@import "tailwindcss";

:root {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@theme inline {
  --color-background: var(--background);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

.scroller {
  width: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.scroller_inner {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  animation: scroll 18s linear infinite;
}

/* IMPORTANT: use 3d transform in keyframes for Safari */
@keyframes scroll {
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.logoWrap {
  flex: 0 0 auto;
  height: 150px;
  width: 150px;
  display: grid;
  place-items: center;
  padding: 6px;
}

.logoImg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
